.env
.env.*
!.env.example
*.pem
*.key

node_modules/
dist/
build/
.vite/
coverage/

*.log
pgdata/
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

root.txt
*.secret
*password*

!infra/certs/*.pem

